.wrapper {
  margin: 0 auto;
  width: 98vw;
  padding: 16px;
  background-color: var(--mui-palette-primary-dark);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.cardWrapper {
  width: calc((100% - 6 * 16px) / 7);
}

.card {
  display: flex;
  width: 150px;
  flex-direction: column;
  background-color: var(--mui-palette-primary-dark);
  padding: 16px;
}

.innerCard {
  height: 150px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 16px;
}

.cardImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.titleOverlay {
  position: absolute;
  bottom: 30%;
  width: 100%;
  color: white;
  text-align: center;
  padding: 4px 0;
}

.likesOverlay {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 2px 8px;
  font-size: 12px;
}



/* Frame 3748 */

/* Auto layout */
.layout{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
}
.layout-1{
position: absolute;
width: 1384px;
height: 592px;
left: 31px;
top: 368px;

}

